@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .prose {
        font-size: 1rem;
        line-height: 1.75;
        /* color: #4a5568; */
        /* max-width: 65ch; */
    }

    .prose>:first-child {
        margin-top: 0;
    }

    .prose p {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .prose ul {
        /*margin-top: 1.25em;
        margin-bottom: 1.25em;*/
    }

    .prose li {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .prose li:last-child {
        margin-bottom: 0;
    }

    .prose ul>li {
        position: relative;
        padding-left: 1.75em;
    }

    .prose ul>li:before {
        content: "";
        position: absolute;
        background-color: #cbd5e0;
        border-radius: 50%;
        width: .375em;
        height: .375em;
        top: .6875em;
        left: .25em;
    }

    .prose ul li :first-child {
        margin-top: 0;
    }

    .prose>ul>li>:first-child {
        margin-top: 1.25em;
    }

    .prose a {
        color: #2b79c1;
        text-decoration: underline;
        font-weight: 500;
        text-decoration: none;
    }

    .prose>ul>li>:last-child {
        margin-bottom: 1.25em;
    }

    .prose>:last-child {
        margin-bottom: 0;
    }

    /*  */

    .integrations-list {
        height: 450px;
    }


    @media (min-width: 768px) {
        .integrations-list {
            height: 700px;
        }
    }

    .integrations-list .circle-inner {
        width: 258px;
        height: 258px;
        background: rgba(218, 225, 231, .5);
        border: 1px solid #b8c2cc;
        -webkit-box-shadow: 0 16px 60px -20px rgb(0 0 0 / 7%);
        box-shadow: 0 16px 60px -20px rgb(0 0 0 / 7%);
        opacity: .33;
    }

    @media (min-width: 768px) {
        .integrations-list .circle-inner {
            width: 488px;
            height: 488px;
        }
    }

    .integrations-list .logo {
        width: 93px;
        height: 93px;
    }

    @media (min-width: 768px) {
        .integrations-list .logo {
            width: 181px;
            height: 181px;
        }
    }

    .integrations-list .integrations-icon-1 {
        -webkit-transform: translateY(-129px);
        transform: translateY(-129px);
    }

    @media (min-width: 768px) {
        .integrations-list .integrations-icon-1 {
            -webkit-transform: translateY(-244px);
            transform: translateY(-244px);
        }
    }

    .integrations-list .integrations-icon-2 {
        -webkit-transform: translate(-94px, 94px);
        transform: translate(-94px, 94px);
    }

    @media (min-width: 768px) {
        .integrations-list .integrations-icon-2 {
            -webkit-transform: translate(-174px, 174px);
            transform: translate(-174px, 174px);
        }
    }

    .integrations-list .integrations-icon-3 {
        -webkit-transform: translate(94px, 94px);
        transform: translate(94px, 94px);
    }

    @media (min-width: 768px) {
        .integrations-list .integrations-icon-3 {
            -webkit-transform: translate(174px, 174px);
            transform: translate(174px, 174px);
        }
    }

    .integrations-list .integrations-icon {
        width: 72px;
        height: 72px;
    }

    @media (min-width: 768px) {
        .integrations-list .integrations-icon {
            width: 112px;
            height: 112px;
        }
    }

    .integrations-list .integrations-icon img {
        max-width: 55px;
        max-height: 55px;
    }

    @media (min-width: 768px) {
        .integrations-list .integrations-icon img {
            max-width: 75px;
            max-height: 75px;
        }
    }
}